{% extends 'emailvarify/base.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}<title>Loged IN </title>{% endblock title %}
</head>
<body>
    {% block content %}
    {% if request.user.is_authenticated %}
    <div class="alert alert-primary" role="alert">
        Welcome {{request.user.username}}
      </div>
{% endif %}
{% endblock content %}
</body>
</html>