<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">



    <title>Document</title>
</head>
<body>
    <!-- <div class="container"> -->
      <div class="text-center">
        
            <div class="col-sm-8">
<h5 class="text-center alert alert-info mt-5 ml-5">Update Details</h5>
    
<form method="POST">
    {% csrf_token %}

{{form.as_p}}

<input type="submit" class="btn btn-success">

</form>

<div class="mt-5">
    <a class="btn btn-primary" href="/crud/" role="button">Home </a>
    </div>
{% for me in mes %}
<h4>{{me}}</h4>
 {% endfor %}
</div>

</div>

</div>
</div>  
</body>
</html>